<!--- add music view, hidden by default -->

          <h1>Add New Song</h1>
          <form>
            <div class="form-group">
              <label>Album: </label>
              <input type="text" class="form-control" placeholder="Album" ng-model="newSong.album" />
			     </div>

            <div class="form-group">
              <label>Artist:</label>
              <input type="text" class="form-control" placeholder="Artist"  ng-model="newSong.artist"/>
            </div>


            <div class="form-group">
              <label>Title:</label>
              <input type="text" class="form-control" placeholder="Song Title" ng-model="newSong.title" />
            </div>


            <div class="form-group">
              <label>Genre:</label>
              <input type="text" class="form-control" placeholder="Genre" ng-model="newSong.genre" />
            </div>

            <!-- TODO: bind this button to a function -->
            <button class="btn btn-default" ng-click="addNewSong()">Add Song</button>
          </form>


