<div>

<h1>Song Details</h1>

<ul class="list-group">
    <li class="list-group-item"><strong>Title: </strong> {{selectedItem.title}}</li>
    <li class="list-group-item"><strong>Artist:</strong> {{selectedItem.artist}}</li>
    <li class="list-group-item"><strong>Album:</strong> {{selectedItem.album}}</li>
    <li class="list-group-item"><strong>Genre:</strong> {{selectedItem.genre}}</li>
</ul>
<!--
<button class="btn btn-info"><a ng-href="#!/items/{{selectedItem.firebasekey}}/edit">Edit</a></button> -->