
<h1>{{title}}</h1>

<form>

  <div>
    <label>Album: </label>
    <input type="text" class="form-control" placeholder="Album" ng-model="newSong.album" />
  </div>

  <div>
    <label>Artist:</label>
    <input type="text" class="form-control" placeholder="Artist"  ng-model="newSong.artist"/>
  </div>

  <div>
    <label>Title:</label>
    <input type="text" class="form-control" placeholder="Song Title" ng-model="newSong.title" />
  </div>

  <div>
    <label>Genre:</label>
    <input type="text" class="form-control" placeholder="Genre" ng-model="newSong.genre" />
  </div>

  <br />

  <button class="btn btn-default" ng-click="addNewSong()">{{btnText}}</button>

</form>


