.column {
	width: 30%;
	float: left;
	margin: 10px;
	border: 1px solid lightblue;
}

.product_description {
	padding: 10px;
	text-align: justify;
}

h5 {
	font-weight: bold;
}

.section_two > header,
.section_three > header {
	margin-left: 10px;
}

.section_two > h5,
.section_three > h5 {
	margin-left: 20px;
}

.section_two > footer,
.section_three > footer {
	margin: 0px;
}

.product_avail {
	background: darkgrey;
	color: yellow;
	padding-left: 5px;
}

article > header {
	text-align: center;
	border-bottom: lightgrey dotted 1px;
}

img {
	width: 70%;
	height: 120px;
	display: block;
	margin-left: auto;
    margin-right: auto;
}